*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #5622;
    font-family: 'B Yekan' ;
    direction: rtl;
}